{% extends "user.html" %}
{%block content%}
<div class="container">
  <div class="row">
    <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Change password</h3>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul class=flashes>
            {% for message in messages %}
            <li><b>{{ message }}!</b></li>
            {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://www.freeiconspng.com/uploads/forgot-password-icon-9.png" class="img-circle img-responsive"> </div>
            <div class=" col-md-9 col-lg-9 "> 
              <form method="POST">
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td>Old password:</td>
                      <td><input type="password" id="inputPassword" class="form-control" name="passwordold" required></td>
                    </tr>
                    <tr>
                     <tr>
                      <td>New password:</td>
                      <td><input type="password" id="inputPassword" class="form-control"  name="password" required></td>
                    </tr>
                    <td>Confirm password:</td>
                    <td><input type="password" id="inputPassword" class="form-control" name="passwordcf" required></td>
                  </td>
                </tr>
              </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Change</button>
          </form>
        </div>
      </div>
    </div>
    <div class="panel-footer">
    </div>
  </div>
</div>
</div>
</div>
<script type="text/javascript">
  $('button').click(function(){
    $.ajax({
      url: "http://127.0.0.1:5000/changePassword",
      type:"POST",
      dataType: "json",
      data: $('form').serialize(),
      success: function(data){
        if (data.status == '401')
        {
          alert('You are login first!');
          location.href = "formLogin"    
        }
        else if (data.status == '200')
        {
          alert('Change password successfull!');
          location.href = "formChangePassword"    
        }
        else
        {
          alert(status.error);
          location.href = "error"    
        } 
      }
    })
  });
</script>
{% endblock %}
