{% extends "user.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <div id="sidebar">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          <h1>Python For Beginners</h1>
          <p>Welcome! Are you completely new to programming? If not then we presume you will be looking for information about why and how to get started with Python. Fortunately an experienced programmer in any programming language (whatever it may be) can pick up Python very quickly. It's also easy for beginners to use and learn, so jump in!</p>
          <center><p><a href="https://www.w3schools.com/python/"><img src="https://cdn-images-1.medium.com/max/1600/1*7EUX9QIjq2x1JyFKcjhXsA.png"></a></p></center>
          <h1>Installing</h1>
          <p>Welcome to my blog!</p>
          <p>Installing Python is generally easy, and nowadays many Linux and UNIX distributions include a recent Python. Even some Windows computers (notably those from HP) now come with Python already installed. If you do need to install Python and aren't confident about the task you can find a few notes on the <a href="https://wiki.python.org/moin/BeginnersGuide/Download">BeginnersGuide/Download</a> wiki page, but installation is unremarkable on most platforms.</p>
          <p>Thank you for visiting!</p>        
        </div>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-8">   
    </div>
  </div>
  <script type="text/javascript">
    $.ajax({
    type:"GET",
    dataType: "json",
    url: "http://127.0.0.1:5000/viewPost",
    success: function(data){
      if (data.status == '401')
        {
          alert("You need to login first!")
          location.href = "formLogin"    
        }
        else if (data.status == '200')
        {
          var list_post;
          for (i = 0; i < data['len']; i++) {
              list_post += "<div class=\"row\"><div class=\"span8\"><div class=\"row\"><div class=\"span8\"><h4><strong>"+data[i].title+"</strong></h4>"+
              "</div></div><div class=\"row\"><div class=\"span2\"><img src=\"http://placekitten.com/150/150\" width=\"100\" height=\"150\"></div>"+
              "<div class=\"span6\"><p>"+data[i].content+"</p><p><button class=\"btn\" data-id=\"" +  data[i].id  + "\"><a href=\"/detailPostPage\">Read more</a></button></p></div></div>"+
              "<div class=\"row\"><div class=\"span8\"> <p> <i class=\"icon-user\"></i> by Admin <i class=\"icon-calendar\"></i>"+data[i].date_posted+
                "</p></div></div></div></div><hr>"
          }
          $(".col-sm-8").append(list_post);   
          $(".btn").click(detail_post);
        }
        else
        {
          alert("ERROR"+data.error+"!");
          location.href = "error"       
        }
        
    }
})
</script>
{%endblock%}
