{% extends "admin.html" %}
{%block content%}
<div class="panel-heading">
 Update Post
</div>
<div class="container">
  <center>
    <h1 class="form-heading">Update Post</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li><b>{{ message }}!</b></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </center>
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <form method="POST" action="/updatePost">
          <div class="form-group" >
            <label >Title:</label>
            <input type="text" class="form-control" placeholder="Title" name="title" value="{{post['title']}}" required >
          </div>
          <div class="form-group">
            <label >Content:</label>
            <textarea class="form-control" rows="5" name='content' required>{{post['content']}}</textarea>
          </div>
          <center>
           <input type="hidden"  name="id" value="{{post['id']}}">
           <button type="submit" class="btn btn-primary">Submit</button>
           <a href="/listPost"><button type="button" class="btn btn-danger">Cancel</button></a><br>
         </form>
       </div>
     </div>
   </div>
 </div>
 {% endblock %}
 