{% extends "admin.html" %}
{%block content%}
<div class="panel-heading">
   Add User
</div>
<div class="container">
    <center>
        <h1 class="form-heading">Create new user</h1>
    </center>
<div class="login-form">
    <div class="main-div">
         <div class="panel">
              <form id="Login" method="POST" action="/addUser">
                <div class="form-group" >
                  <label >User name:</label>
                  <input type="text" class="form-control" placeholder="Username" name="username" required>
              </div>
              <div class="form-group">
                  <label >Password:</label>
                  <input type="password" class="form-control" placeholder="Password" name="password" required>
              </div>
              <div class="form-group">
                  <label >Email:</label>
                  <input type="email" class="form-control"  placeholder="Email" name="email" required>
              </div>
              <div class="form-group">
                  <label >Gender:</label>
                  <input type="radio" name="gender" id="option1" value="male" checked="true"> male </input>
                  <input type="radio" name="gender" id="option2" value="female"> female </input><br>
              </div>
              <div class="form-group">
                  <label >Birthday:</label>
                  <input type="date" class="form-control" name="birthday"  required>
              </div>
              <div class="form-group">
                  <label >Phone:</label>
                  <input type="text" class="form-control" placeholder="Phone number" name="phone" pattern="[0-9]{5,15}" title="Phone should only contain number, from 1 t0 15 number" required>
              </div>
              <div class="form-group">
                  <label >Role:</label>
                  <input type="radio" name="role" id="option1" value="admin"> admin </input>
                  <input type="radio" name="role" id="option2" value="user" checked> user </input><br>
              </div>
              <div class="forgot">
                  <center>
                    <button type="submit" id="submit" class="btn btn-primary">Create user</button>
                    <a href="/listUser"><button type="button" class="btn btn-danger">Cancel</button></a><br>
                </center>
            </form>

        </div>
    </div>
</div>
<script type="text/javascript">
    $("#submit").click(function(){
        $.ajax({
            url: "http://127.0.0.1:5000/addUser",
            type:"POST",
            dataType: "json",
            data: $('form').serialize(),
            success: function(data){
                if (data.status == '401')
                {
                    alert("You need to login first!")
                    location.href = "formLogin"    
                }
                else if (data.status == '400')
                {
                    alert(data.alert)
                    location.href = "formAddUser"    
                }
                else if (data.status == '200')
                {
                    alert("Create new user is successful!")
                    location.href = "formAddUser"    
                }
                else
                {
                    alert("ERROR"+data.error+"!");
                    location.href = "error"       
                }
            }
        })
    });
</script>
{% endblock %}
